# Visual Studio files
*.suo
*proj.user

# Build files
*[Oo]bj/
*[Bb]in/

*.mak
*.inc
*.lib
*.ilk
*.exp

*.pdb

# Various logs and dumps
*.dmp
*.log

README
STATUS

Makefile-gcc-app

userSpecificData.xml
EditorEventLog.xml